.container {
  height: calc(100% - 40px);
  width: calc(100% - 112px);
  display: flex;
  flex-direction: column;
  padding: 16px 56px;
  .title {
    font-size: 40px;
    font-weight: 700;
    width: 100%;
  }
  .sort {
    display: flex;
    column-gap: 16px;
    & > button {
      cursor: pointer;
      &.isSelect {
        background-color: #cdedf4;
      }
    }
  }
  .divideLine {
    width: 100%;
    border-bottom: 1px solid black;
  }
  .error {
    height: 24px;
    color: #f00;
    padding: 0 16px;
  }
  .contents {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
}

.spacing {
  height: 16px;
}
