.button {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  overflow: hidden;
  column-gap: 8px;
  cursor: pointer;
  background: #f8f3f3;
  color: #000;
  transition: background-color 0.2s ease-in;
  &:not(:disabled):hover {
    background: #efe9e9;
  }
  &:disabled {
    background: #cccccc;
    color: #979797;
    cursor: not-allowed !important;
  }
}
