.container {
  width: 100%;
  height: 100%;
  .header {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    column-gap: 24px;
    padding: 0 56px;
    background: linear-gradient(0.3turn, #272727, #777777);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  }
  .contents {
    width: 100%;
    height: 100%;
  }
}
